body {
    position: relative;
    font-size: 1em;
    margin-left: 20px;
    margin-top: 20px;
  
}

legend {
    padding-left: 30px;
    color: blue;
}

.statement {
 border-style: solid;
 border-color: green;
 right: 10px;
  }
  
 .showform {
     color: blue;
 }

#heightbox{
  display: none;
}

#dosingAdvice{
  display: none;
}

#bmi_calc{
    display: none;
}

#vancform {
  display: none;
}

#parameters{
    display: block;
}

#ibw_text{
    display: block;
}

#calc{
    display: none;
}

#poor_renal{
    color: red;
}

#explainDosing{
    display:none;
}

.text{
    margin-bottom: 2px;
}

.datemessage{
    color: red;
}


.carousel {
  width:740px;
  height:860px;
  display: none !important;
}

