body {
    position: relative;
    font-size: 1em;
    margin-left: 20px;
    margin-top: 20px;
  
}

legend {
    padding-left: 30px;
    color: blue;
}

#guideline{
    display: none;
    position: fixed;
    margin-left: 600px;
    margin-right: 50px;
    height: 96%;
    width: 60%;
    border-color: red;
    border-width: 2px;
}

#gbutton {
    margin-bottom: 10px;
}


.statement {
 border-style: solid;
 border-color: green;
 right: 10px;
  }
  
 .showform {
     color: blue;
 }

#heightbox{
  display: none;
}

#dosingAdvice{
  display: none;
}

#bmi_calc{
    display: none;
}

#vancform {
  display: none;
}

#parameters{
    display: block;
}

#ibw_text{
    display: block;
}

#calc{
    display: none;
}

#poor_renal{
    color: red;
}

#stat_dose, #main_dose, h2{
    color: green;
}

#explainDosing{
    display:none;
}

.text{
    margin-bottom: 2px;
}

.datemessage{
    color: red;
}

#formZ{
    display:block;
}

#sumButton{
    display: none;
}

.carousel {
  width:740px;
  height:860px;
  display: none !important;
}

